.let{
    position: relative;
    top: 0px; left: -480px;    
    text-align: justify;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
color: rgb(255, 255, 255);
}

.div{
    display:flex;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 32px;
}

.img{
        height: 200px;
        border: 1px solid black;
        margin: 0 auto;
        animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

}

.imgT{
    height: 170px;
    border: 1px solid black;
    margin: 0 auto;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

}
.imgE{
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
}
.letMis{
    letter-spacing: 1px;
    text-align: left;
    justify-content: space-between; /* o cualquier otra propiedad de justificación que se adapte a tu diseño */
    align-items: center;
    flex: 1;
    padding: 20px;
    border: 1px solid #08c0d8;
    display: flex;
text-align: justify;
animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
background-color: rgba(5, 238, 255, 0.5); /* Verde con 50% de transparencia */
/* Otra configuración de estilo para tu tarjeta *//* Otra configuración de estilo para tu tarjeta */
color:azure
}

.glassText {
    display: inline-block;
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
    color:azure

  }
  
  .word {
    display: inline-flex;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

  }
  
  .letter {
    display: inline-block;
    opacity: 0;
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
    margin-right: 10px; /* Espacio horizontal entre letras */
    color:azure;
 

  }
  
  @keyframes appearFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
      animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

    }
    100% {
      opacity: 1;
      transform: translateX(0);
      animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

    }
  }
  
.divF{
    background-image: url('../../img/fondoV.gif'); /* Ruta a tu imagen GIF */
width: 100hv
}


.fondotriangulo{
    display: flex;
   margin: 0 auto;
  position: fixed;
  animation: appearFromLeft 3s ease forwards; /* Animación más lenta */

  display: flex;

 }
 .triangulo{
   
    background: rgb(122, 117, 117);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 202px;
    height: 150px;
    animation: myAnim 8s ease 0s infinite normal forwards;
   box-shadow: #fff;
   display: flex;

 }
 .triangulo1{
    background: rgb(78, 78, 78);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 200px;
    height: 150px;
    animation: myAnim 8s ease 5s infinite normal forwards;
    display: flex;

  
 }
 .triangulo2{
    background: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 204px;
    height: 150px;
    animation: myAnim 8s ease 10s infinite normal forwards;
    display: flex;

   
 }
 .triangulo3{
    background: rgb(65, 65, 65);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 204px;
    height: 150px;
    animation: myAnim 8s ease 15s infinite normal forwards;
    display: flex;

   
 }
 .triangulo4{
    background: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 204px;
    height: 150px;
    animation: myAnim 8s ease 20s infinite normal forwards;
    display: flex;

   
 }
 .triangulo5{
    background: rgb(56, 56, 56);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
    width: 204px;
    height: 150px;
    animation: myAnim 8s ease 25s infinite normal forwards;
    display: flex;

 }
 
 .triangulo6{
  background: rgb(7, 7, 7);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 81% 99%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
  width: 204px;
  height: 150px;
  animation: myAnim 8s ease 30s infinite normal forwards;
  display: flex;

}

 @keyframes myAnim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
 
}



.letComunes{
    animation: appearFromLeft 3s ease forwards; /* Animación más lenta */
    color:azure

}