header{
  background-color: black;
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
  height: 22%;
  width: 100%;
  z-index: 5;  
 
}
header h3{
  margin: 0;
  color:white;
  display: flex;
  flex-direction: column;

}
.cualidades{
  color: #fff;
}


.div{
   display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
gap: 20px;
}
.div1{
  align-items: center;
width: 100%; /* Ancho del contenedor */
  overflow: hidden; /* Ocultar contenido que se desborde */
  white-space: nowrap; 
  text-align: center; /* Centra el contenido horizontalmente */
}
.div1 .imgT{

  display: inline-block; /* Alinea las imágenes en línea */
  max-width: 100%; /* Ajusta el ancho de las imágenes al contenedor */
  vertical-align: middle; /* Alinea verticalmente las imágenes al centro */

  animation: deslizar 10s linear infinite; /* Aplica la animación de deslizamiento */
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Desplaza las imágenes hacia la derecha */
  }
}


.img{
        height: 200px;
        border: 1px solid black;
        margin: 0 auto;
    

}
.imgT{

  border: 1px solid black;
  margin: 0 auto;
  width:400px; 
  height:200px;

}


.imgE{
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;

}
.letMis{
    letter-spacing: 1px;
    text-align: left;
    justify-content: space-between; /* o cualquier otra propiedad de justificación que se adapte a tu diseño */
    align-items: center;
    flex: 1;
    padding: 20px;
    border: 1px solid #08c0d8;
    display: flex;
text-align: justify;

background-color: rgba(5, 238, 255, 0.5); /* Verde con 50% de transparencia */
/* Otra configuración de estilo para tu tarjeta *//* Otra configuración de estilo para tu tarjeta */
color:azure
}

.glassText {
    display: inline-block;
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;

    color:azure

  }
  
  .word {
    display: inline-flex;
 color: #fff;

  }
  
  .letter {
    display: inline-block;
 

    margin-right: 10px; /* Espacio horizontal entre letras */
    color:azure;
 

  }
  

  
.divF{
    background-image: url('../../img/fondoV.gif'); /* Ruta a tu imagen GIF */
width: 100hv
}


.fondotriangulo{
    display: flex;
   margin: 0 auto;
  position: fixed;
 

  display: flex;

 }

