.divL{
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2px;
  }
  

  .container_1 {
    position: relative;
    text-align: center;
    background: url("../../../../public/vidrio1.webp") no-repeat;
    margin: 0 auto;
    border: 1px solid black;
    margin: 0 auto;
    width:400px; 
    height:500px;
 }
 .container_2 {
  position: relative;
  text-align: center;
 background: url("../../../../public/divisiones1\ \(1\).webp") no-repeat;
 margin: 0 auto;
 border: 1px solid black;
    margin: 0 auto;
    width:400px; 
    height:500px;
}
.container_3 {
  position: relative;
  text-align: center;
  background: url("../../../../public/fachada1.webp") no-repeat;
  margin: 0 auto;
  border: 1px solid black;
    margin: 0 auto;
    width:400px; 
    height:500px;

}


 
 .imgh2_1 {
   display: flex;
 background-color: rgb(177, 177, 189);
    font-weight: bold;
    margin:0;
        position: absolute;
        top: 0;
        left: 50%; /* Alinea el centro del h2 con el centro del contenedor */
        transform: translateX(-50%); /* Centra el h2 horizontalmente */
       
        padding: 10px;
        z-index: 0;

     
 }

.imgh1{
    background-color: rgba(37, 43, 43, 0.5);
    text-align: center;
    align-items: center;
     position: fixed;
           top: 50%;
           left: 0%; /* Alinea el centro del h2 con el centro del contenedor */
           transform: translateX(-50%); /* Centra el h2 horizontalmente */
           transform: translateY(-50%);
           padding: 100px;
           z-index: 1;
           clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 85% 100%, 50% 70%, 20% 100%, 32% 57%, 2% 35%, 39% 35%);
}

.imgh2 {
  
   color: blueviolet;
   
 
   font-weight: bold;
  text-align: justify;
margin-top: 10rem;
   position: absolute;
         top: 0;
         left: 50%; /* Alinea el centro del h2 con el centro del contenedor */
         transform: translateX(-50%); /* Centra el h2 horizontalmente */
        
         padding: 10px;
         z-index: 0;
 
      
  }
  