.typingeffect {
    background-color: #797979;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    text-align: center;
    display: flex; /* Usar flexbox para manejar el diseño */
   /* align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    min-height: 100vh; 
  }
  
  .typingeffect p {
   
    padding-right: 10px;

  }
  @media (max-width: 480px) {
    .typingeffect {
      font-size: 18px; /* Tamaño de fuente más pequeño para dispositivos móviles */
      padding: 10px; /* Menos relleno para ahorrar espacio */
    }
  }
  
  /* @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  } */
  
  /* @keyframes blink-cursor {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  } */
  