.Contactanos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
   gap: 5px; */
   background: rgb(32, 32, 32);
   
}
.Contactanos img{
    width: 50%;
    position: relative;
    flex-grow: 1;
    flex-basis: 200;
}
.Contactanos h1{
    color: aliceblue;
    justify-content: start;
}